/* HERO SECTION */
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw;
  color: white;
}

/* Navbar styles */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-list {
  display: flex;     /* parent flex container */
  gap: 2rem;         /* works here */
  list-style: none;
  margin: 0;         /* valid value */
  padding: 0;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-container {
  background-color: hsl(0, 0%, 60%);
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
}

.logo {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
